{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lista prodotti</title>
    <link rel="stylesheet" href="{% static 'list.css' %}">
</head>
<body>
<header class="page-header">
    <h1>Lista prodotti disponibili</h1>
    <nav>
        <a href="{% url 'ServerApplication:testMap' %}" class="home-link">homepage</a>
    </nav>
</header>
<!-- add every form for modify, use API links for actions? !-->
<div class="main-content">
    <div class="distributors-menu">
        <table>
            <tr>
                <th>nome prodotto</th>
                <th>prezzo</th>
                <th>quantità</th>
                <!-- logged user side !-->
                {% if user.is_authenticated %}
                <th>rimuovi prodotto</th>
                {% endif %}
            </tr>
        {% for list in prod_dist_list %}
        <tr>
            <td>{{ list.id_product.name }}</td>
            <td>€{{ list.id_product.price }}</td>
            {% if user.is_authenticated %} 
                <td class="quantity-cell">
                    <form method="POST" action="{% url 'ServerApplication:updateCount' %}">
                        {%  csrf_token %}
                        <input type="hidden" name="id_product" value="{{ list.id_product.id }}">
                        <input type="hidden" name="id_distributor" value="{{ list.id_distributor.id }}">
                        <input type="number" name="quantity" placeholder="{{ list.quantity }}">
                        <button type="submit" hidden>Aggiorna</button>
                    </form>
                </td>
            {% else %}
                <td> {{ list.quantity }}</td>
            {% endif %}
            {%  if user.is_authenticated %}
                <td>
                 <form method="POST" action="{% url 'ServerApplication:removeCount' %}">
                 {%  csrf_token %}
                     <input type="hidden" name="id_product" value="{{ list.id_product.id }}">
                     <input type="hidden" name="id_distributor" value="{{ list.id_distributor.id }}">
                    <button type="submit" class="delete-button">Elimina</button>
                 </form>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
        {% if user.is_authenticated %}
            <tr class="add-row">
            <form method="POST" action="{% url 'ServerApplication:addCount' %}">
            <input type="hidden" name="id_distributor" value="{{ id_distributor }}">
            {%  csrf_token %}
                <td>
                    <select name="product" id="product" required>
                        {% for product in products %}
                            <option value="{{ product.id }}">{{ product.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td></td> <!-- prezzo !-->
                <td>
                    <input type="number" name="quantity" required min="1" placeholder="quantità">
                </td>
                <td>
                    <button type="submit" class="add-button">Aggiungi</button>
                </td>
            </form>
            </tr>
        {% endif %}
        </table>
    </div>
</div>
</body>
</html>