<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lista prodotti</title>
</head>
<body>
<!-- add every form for modify, use API links for actions? !-->
<div class="main-content">
    <div class="distributors-menu">
        <table>
            <tr>
                <th>nome prodotto</th>
                <th>prezzo</th>
                <th>quantità</th>
                <!-- logged user side !-->
                {% if user.is_authenticated %}
                <th>rimuovi prodotto</th>
                {% endif %}
            </tr>
        {% for list in prod_dist_list%}
        <tr>
            <td>{{ list.id_product.name }}</td>
            <td>{{ list_id_product.price }}€</td>
            {% if user.is_authenticated %} 
                <td>
                    <form method="POST" action="{% url '' %}">
                        {%  csrf_token %}
                        <input type="hidden" name="id_product" value="{{ list.id_product.id }}">
                        <input type="hidden" name="id_distributor" value="{{ list.id_distributor.id }}">
                        <input type="number" name="quantity" placeholder="{{ list.quantity }}">
                        <button type="submit" hidden>Aggiorna</button>
                    </form>
                </td>
            {% else %}
                <td> {{ list.quantity }}</td>
            {% endif %}
            {%  if user.is_authenticated %}
                 <form method="POST" action="{% url '' %}">
                 {%  csrf_token %}
                     <input type="hidden" name="id_product" value="{{ list.id_product.id }}">
                     <input type="hidden" name="id_distributor" value="{{ list.id_distributor.id }}">
                    <button type="submit">Elimina</button>
                 </form>
            {% endif %}
        </tr>
        {% endfor %}
        {% if user.is_authenticated %}
        <!-- add a simple javascript or form for adding other products inside the dispenser? !-->
            <form method="POST" action="{% url '' %}">
            {%  csrf_token %}
                <td>
                    <select name="product" id="product" required>
                        {% for product in products %}
                            <option value="{{ product.id }}">{{ product.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td></td> <!-- prezzo !-->
                <td>
                    <input type="number" name="price">
                </td>
                <td>
                    <button type="submit">Aggiungi</button>
                </td>
            </form>
        {% endif %}
        </table>
    </div>
</div>
</body>
</html>