<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Houses</title>
      {{map.header.render|safe}}
  </head>
  <body>
      <div id="map-container" style="width: 100%; height: 200px;">
           the header of the map can be put inside a div to control the size
        {{map.html.render|safe}}
      </div>
    <script>
      {{map.script.render|safe}}
    </script>
  </body>
</html> !-->
{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard con Mappa e Login</title>
    <link rel="stylesheet" href="{% static 'default.css' %}">
    {{ map.header.render|safe }}
</head>
<body>
    <header class="header">
        <h1>Dashboard Mappa</h1>
        <form class="login-form" method="POST">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
    </header>

    <div class="main-content">
        <div class="map-container-wrapper">
            <h2>La Tua Mappa Interattiva</h2>
            <div id="map-container">
                {{ map.html.render|safe }}
            </div>
        </div>
        <div class="distributors-menu">
            <h2>Lista dei distributori operativi:</h2>
            {% if op_distributors %}
                <ul>
                    {% for d in op_distributors %}
                        <li>
                            <h2> {{ d.address }} </h2>
                            {% if products_inside %}
                                <ul>
                                {% for pi in products_inside %}
                                    {% if d.id == pi.id_distributor.id %}
                                        {% for pl in product_list %}
                                            {% if pl.id == pi.id_product.id %}
                                                <li class="submenu"> <p> {{ pl.name }}: €{{ pl.price }}, in questa quantità: {{ pi.quantity }} </p> </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            {% else %}
                                <li> <p> Nessun prodotto trovato. </p> </li>
                            {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <h2>Nessun risultato trovato.</h2>
            {% endif %}
        </div>
    </div>
    <script>{{ map.script.render|safe }}</script>
</body>
</html>