<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Houses</title>
      {{map.header.render|safe}}
  </head>
  <body>
      <div id="map-container" style="width: 100%; height: 200px;">
           the header of the map can be put inside a div to control the size
        {{map.html.render|safe}}
      </div>
    <script>
      {{map.script.render|safe}}
    </script>
  </body>
</html> !-->
{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard con Mappa e Login</title>
    <link rel="stylesheet" href="{% static 'default.css' %}">
    {{ map.header.render|safe }}
</head>
<body>
    <header class="header">
        <h1>Dashboard Mappa</h1>
        {% if user.is_authenticated %}
            <a href="{% url 'ServerApplication:logoutGET' %}" class="home-link">logout</a>
        {% else %}
        <form class="login-form" method="POST" action="{% url 'ServerApplication:loginPOST' %}">
            {%  csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
        {% endif %}
    </header>

    <div class="main-content">
        <div class="map-container-wrapper">
            <h2>La Tua Mappa Interattiva</h2>
            <div id="map-container">
                {{ map.html.render|safe }}
            </div>
        </div>
        <div class="distributors-menu">
            <div class="distributor-submenu">
                <h2>Lista dei distributori operativi:</h2>
                {% if op_distributors %}
                    <ul>
                        {% for d in op_distributors %}
                            <li>
                                <h2> {{ d.address }} </h2>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <ul><li>Nessun risultato trovato.</li></ul>
                {% endif %}
            </div>

            {% if user.is_authenticated %}
                <div class="distributor-submenu">
                    <h2>Lista dei distributori in allerta:</h2>
                    {% if al_distributors %}
                        <ul>
                            {% for d in al_distributors %}
                                <li>
                                    <h2> {{ d.address }} </h2>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <ul><li><h2>Nessun risultato trovato.</h2></li></ul>
                    {% endif %}
                </div>

                <div class="distributor-submenu">
                    <h2>Lista dei distributori offline:</h2>
                    {% if off_distributors %}
                        <ul>
                            {% for d in off_distributors %}
                                <li>
                                    <h2> {{ d.address }} </h2>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <ul><li><h2>Nessun risultato trovato.</h2></li></ul>
                    {% endif %}
                </div>

                <div class="distributor-submenu">
                    {% if best_otm %}
                        <h2>Il migliore articolo del mese è:</h2>
                        {% for p in product_list %}
                            {% if p.id == best_otm.product_id %}
                                <ul><li><h2> {{ p.name }} con il {{ best_otm.percentage }}% del totale di vendita</h2></li></ul>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <ul><li><h2>Nessun dato di vendita trovato.</h2></li></ul>
                    {% endif %}
                </div>

            {% endif %}
        </div>
    </div>
    <script>{{ map.script.render|safe }}</script>
</body>
</html>